# Data Cleaning

Lets first load up the libraries we need to perform our cleaning.

(for this run the code chunk given below)

In [1]:
import pandas as pd
import re

C:\Users\rohan\AppData\Local\Temp\ipykernel_6264\581249992.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Now lets load up the our dataset. In order to keep it simple, I will just name the dataset as "data".

In [2]:
data = pd.read_csv(r"uncleaned_ds.csv")

Lets have a look into our data.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [4]:
data.head(10)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
5,5,Data Scientist,$137K-$171K (Glassdoor est.),About Us:\n\nHeadquartered in beautiful Santa ...,4.2,HG Insights\n4.2,"Santa Barbara, CA","Santa Barbara, CA",51 to 200 employees,2010,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1
6,6,Data Scientist / Machine Learning Expert,$137K-$171K (Glassdoor est.),Posting Title\nData Scientist / Machine Learni...,3.9,Novartis\n3.9,"Cambridge, MA","Basel, Switzerland",10000+ employees,1996,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$10+ billion (USD),-1
7,7,Data Scientist,$137K-$171K (Glassdoor est.),Introduction\n\nHave you always wanted to run ...,3.5,iRobot\n3.5,"Bedford, MA","Bedford, MA",1001 to 5000 employees,1990,Company - Public,Consumer Electronics & Appliances Stores,Retail,$1 to $2 billion (USD),-1
8,8,Staff Data Scientist - Analytics,$137K-$171K (Glassdoor est.),Intuit is seeking a Staff Data Scientist to co...,4.4,Intuit - Data\n4.4,"San Diego, CA","Mountain View, CA",5001 to 10000 employees,1983,Company - Public,Computer Hardware & Software,Information Technology,$2 to $5 billion (USD),"Square, PayPal, H&R Block"
9,9,Data Scientist,$137K-$171K (Glassdoor est.),Ready to write the best chapter of your career...,3.6,XSELL Technologies\n3.6,"Chicago, IL","Chicago, IL",51 to 200 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1

Looks like we donot have any null values in the data and the empty field are formatted as "-1". Since, the variables which contain "-1" are not quantitative variables, therefore we cannot do much about it.

Let's remove the columns we wont be requiring for our analysis.

In [5]:
data.drop(columns={"index","Rating","Headquarters","Size","Founded","Revenue","Competitors"},inplace=True)
data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Type of ownership,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst\n3.1,"New York, NY",Nonprofit Organization,Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech\n4.2,"Chantilly, VA",Company - Public,Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group\n3.8,"Boston, MA",Private Practice / Firm,Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON\n3.5,"Newton, MA",Company - Public,Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions\n2.9,"New York, NY",Company - Private,Advertising & Marketing,Business Services

That did the job. Now lets check for duplicates.

In [6]:
data.duplicated().sum()

13

That's a small number. Lets delete them now.

In [7]:
data.drop_duplicates(inplace=True)

We need to check wether those rows with "-1" need to be removed or not.

In [8]:
data[(data["Industry"]=="-1")]

,Job Title,Salary Estimate,Job Description,Company Name,Location,Type of ownership,Industry,Sector
42,Data Analyst I,$75K-$131K (Glassdoor est.),Who is Cenlar?\n\nYou are.\n\nEmployee-owners ...,Cenlar\n2.6,"Ewing, NJ",Company - Private,-1,-1
154,ELISA RESEARCH SCIENTIST (CV-15),$90K-$109K (Glassdoor est.),"Covaxx, a subsidiary of the UBI Group, has joi...",Covid-19 Search Partners,"Hauppauge, NY",-1,-1,-1
158,Machine Learning Engineer,$101K-$165K (Glassdoor est.),Overview\n\nRadical Convergence is a fast-pace...,Radical Convergence,"Reston, VA",-1,-1,-1
168,Data Engineer,$101K-$165K (Glassdoor est.),Job Number: 10202\nGroup: Cosma International\...,Magna International Inc.\n3.5,"Birmingham, AL",Company - Public,-1,-1
193,Data Scientist,$56K-$97K (Glassdoor est.),Job Description\nClient JD below:\n\nWe need a...,SkillSoniq\n5.0,"San Francisco, CA",Company - Public,-1,-1
195,Data Scientist,$56K-$97K (Glassdoor est.),"About Joby\nLocated in Northern California, th...",Joby Aviation\n4.3,"San Carlos, CA",Company - Private,-1,-1
248,Data Scientist,$90K-$124K (Glassdoor est.),Descript is a new kind of audio/video creation...,Descript\n4.3,"San Francisco, CA",Company - Private,-1,-1
251,Data Scientist,$90K-$124K (Glassdoor est.),We are looking for a Data Scientist to analyze...,Better Hire\n4.0,"Birmingham, AL",Company - Private,-1,-1
258,Data Scientist,$90K-$124K (Glassdoor est.),Full Time Data Scientist\n\nThe Drive Media is...,"The Drive Media, Inc.\n5.0","New York, NY",Unknown,-1,-1
272,Data Scientist,$91K-$150K (Glassdoor est.),Business Unit: Data Scientist Comcast brings t...,Comcast\n3.5,"New York, NY",Company - Public,-1,-1
274,Data Scientist,$91K-$150K (Glassdoor est.),Job Description\nClient JD below:\n\nWe need a...,SkillSoniq\n5.0,"San Francisco, CA",Company - Public,-1,-1
282,Data Scientist,$91K-$150K (Glassdoor est.),Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...,Trovetechs Inc,"San Francisco, CA",Company - Private,-1,-1
285,Data Scientist,$141K-$225K (Glassdoor est.),Greetings from Trovetechs!!!\n\nÂ\n\nWe have a...,Trovetechs Inc,"San Francisco, CA",Company - Private,-1,-1
288,Data Scientist,$141K-$225K (Glassdoor est.),"About Joby\nLocated in Northern California, th...",Joby Aviation\n4.3,"San Carlos, CA",Company - Private,-1,-1
290,Data Scientist,$141K-$225K (Glassdoor est.),Work Authorization Those authorized to work in...,PETADATA,"San Francisco, CA",Company - Private,-1,-1
308,Data Scientist,$145K-$225K(Employer est.),Data Scientist\n\nRequirements\nMS or PhD in C...,Kollasoft Inc.\n3.2,"New York, NY",Company - Public,-1,-1
316,Data Scientist,$145K-$225K(Employer est.),Job Description\nEssential Responsibilities:\n...,Advance Sourcing Concepts\n3.4,"Pittsburgh, PA",Company - Private,-1,-1
322,Data Scientist,$145K-$225K(Employer est.),Job Description\nData Scientist\nAre you inter...,"Rainmaker Resources, LLC","Cincinnati, OH",Company - Private,-1,-1
335,Data Scientist,$79K-$147K (Glassdoor est.),One of the largest health insurers in the nati...,Solving IT International Inc\n3.4,"Chicago, IL",Company - Private,-1,-1
338,Data Scientist,$79K-$147K (Glassdoor est.),Work in a fast growing startup with unlimited ...,Stride Search,"San Francisco, CA",Company - Private,-1,-1
348,Data Scientist,$122K-$146K (Glassdoor est.),Title Data Scientist Location Remote (SFMNAZNY...,"Shimento, Inc.\n2.9","Santa Clara, CA",Company - Private,-1,-1
351,Data Scientist,$122K-$146K (Glassdoor est.),About Our AI/ML Team\n\nOur mission is to buil...,Point72 Ventures,"Palo Alto, CA",-1,-1,-1
357,Data Scientist,$122K-$146K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1,-1
371,Data Scientist,$112K-$116K (Glassdoor est.),Solution IT Inc. is looking for an Data Scient...,"SolutionIT, Inc.\n4.4","Edison, NJ",Company - Private,-1,-1
388,Data Scientist,$110K-$163K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",HireAi,"San Francisco, CA",-1,-1,-1
409,Data Scientist,$124K-$198K (Glassdoor est.),About Navio:\nNavio builds software tools that...,Navio,"San Mateo, CA",Unknown,-1,-1
424,Data Scientist,$124K-$198K (Glassdoor est.),"Get To Know Voice\n\nAt Voice, we are on a mis...",Voice\n3.4,"Brooklyn, NY",Company - Private,-1,-1
430,Data Scientist,$79K-$133K (Glassdoor est.),Job Description\nFalcon It is seeking a Data S...,Falcon IT & Staffing Solutions,"Fort Belvoir, VA",Company - Public,-1,-1
431,Data Scientist,$79K-$133K (Glassdoor est.),Job Description\nData Scientist\nAre you inter...,"Rainmaker Resources, LLC","Cincinnati, OH",Company - Private,-1,-1
435,Data Scientist,$79K-$133K (Glassdoor est.),Job Description\nWe are looking for the sharpe...,PeopleCom\n5.0,"McLean, VA",Company - Private,-1,-1
438,Data Scientist,$79K-$133K (Glassdoor est.),Title Data Scientist Location Remote Duration ...,"Blue Icy Water, LLC",United States,Company - Private,-1,-1
441,Data Scientist,$79K-$133K (Glassdoor est.),Job Description\nWe are looking for a Data Sci...,Maxiom\n5.0,"Ashburn, VA",Company - Public,-1,-1
457,Data Scientist,$69K-$116K (Glassdoor est.),Work in a fast growing startup with unlimited ...,Stride Search,"San Francisco, CA",Company - Private,-1,-1
459,Data Scientist,$69K-$116K (Glassdoor est.),We are looking for a highly motivated data sci...,Blue Cloak LLC,"Sterling, VA",-1,-1,-1
476,Data Scientist,$31K-$56K (Glassdoor est.),Job Title : Data Scientist\n\nJob Location : W...,Radiant Digital\n4.5,"Washington, DC",Company - Private,-1,-1
478,Data Scientist,$31K-$56K (Glassdoor est.),Responsibilities·\nAnalyze large datasets to g...,IntelliPro Group Inc.\n4.1,"Santa Clara, CA",Company - Private,-1,-1
494,Data Scientist,$95K-$119K (Glassdoor est.),Tygart is currently seeking Data Scientist to ...,"Tygart Technology, Inc\n4.7","Washington, DC",Company - Private,-1,-1
495,Data Scientist,$95K-$119K (Glassdoor est.),Job Overview: The Data Scientist is a key memb...,Hatch Data Inc,"San Francisco, CA",-1,-1,-1
504,Data Scientist,$95K-$119K (Glassdoor est.),Job Description\nWorking at Sophinea\n\nSophin...,Sophinea,"Chantilly, VA",Unknown,-1,-1
515,Data Scientist,$212K-$331K (Glassdoor est.),Ke`aki Technologies is looking for a qualified...,Alaka`ina Foundation Family of Companies\n3.6,"Fort Sam Houston, TX",Government,-1,-1
519,"Scientist / Group Lead, Cancer Biology",$212K-$331K (Glassdoor est.),"Scientist / Group Lead, Cancer Biology\nLocati...",Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1
524,Data Scientist,$212K-$331K (Glassdoor est.),CompuForce is seeking an experienced and highl...,CompuForce,"New York, NY",Company - Private,-1,-1
531,Data Scientist,$66K-$112K (Glassdoor est.),Job Description\nData Scientist – Washington D...,JCD Staffing\n5.0,"Washington, DC",Company - Private,-1,-1
555,Data Scientist,$128K-$201K (Glassdoor est.),"Job Description\nAs a Data Scientist, you will...",HireAi,"San Francisco, CA",-1,-1,-1
568,Data Scientist,$128K-$201K (Glassdoor est.),"At Kibo, we provide cloud commerce solutions i...",Kibo,"Philadelphia, PA",Company - Public,-1,-1
585,"Sr. Research Associate/ Scientist, NGS prep & ...",$138K-$158K (Glassdoor est.),We are seeking a Sr. Research Associate/Scient...,"Homology Medicines, Inc.\n4.4","New Bedford, MA",Company - Public,-1,-1
598,Data Scientist,$80K-$132K (Glassdoor est.),Job Description:\n\n· Working closely with the...,Kognetics\n3.6,"Gahanna, OH",Company - Private,-1,-1
610,Data Scientist,$80K-$132K (Glassdoor est.),Tygart is currently seeking Data Scientist to ...,"Tygart Technology, Inc\n4.7","Washington, DC",Company - Private,-1,-1
613,Data Scientist,$87K-$141K (Glassdoor est.),DESCRIPTION\n\nGrainBridge is seeking a talent...,"GrainBridge, LLC","Omaha, NE",-1,-1,-1
615,Data Scientist,$87K-$141K (Glassdoor est.),Position Description\n\nSprezzatura seeks a Da...,Sprezzatura Management Consulting,"Washington, VA",Company - Private,-1,-1
621,Data Scientist,$87K-$141K (Glassdoor est.),Day to Day Responsibilities:\nDaily responsibi...,Advanced Bio-Logic Solutions Corp\n4.0,"Thousand Oaks, CA",Company - Private,-1,-1
637,Data Scientist,$92K-$155K (Glassdoor est.),Job Description\nWorking at Sophinea\n\nSophin...,Sophinea,"Chantilly, VA",Unknown,-1,-1
650,"Scientist / Group Lead, Cancer Biology",$92K-$155K (Glassdoor est.),"Scientist / Group Lead, Cancer Biology\nLocati...",Monte Rosa Therapeutics,"Cambridge, MA",-1,-1,-1
656,Data Scientist,$105K-$167K (Glassdoor est.),Join our team dedicated to developing and exec...,Berico Technologies,"Fort Belvoir, VA",-1,-1,-1
657,Data Scientist,$105K-$167K (Glassdoor est.),"Overview\n\nGood people, working with good peo...",Kehe Food Distributors,"Naperville, IL",-1,-1,-1
660,Data Scientist,$105K-$167K (Glassdoor est.),"Location: Redmond, WA\nClient: Microsoft (Un-M...",Pactera Edge,"Redmond, WA",-1,-1,-1
662,Data Scientist,$105K-$167K (Glassdoor est.),Solution IT Inc. is looking for an Data Scient...,"SolutionIT, Inc.\n4.4","Edison, NJ",Company - Private,-1,-1
664,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nClear Ridge has an exciting o...,Clear Ridge Defense,"Quantico, VA",Company - Private,-1,-1
668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,JKGT,"San Francisco, CA",-1,-1,-1
669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,AccessHope,"Irwindale, CA",-1,-1,-1

Looks like "-1" only appears in the last three columns of the dataset and dropping such rows will lead to a loss in relevant information. So, we will leave them as they are.

Now lets start formatting the columns. The number given after the names of the company are the ratings of the company, we donot require them , so we will strip them out.

In [9]:
data["Company Name"]=data["Company Name"].str.split("\n").str[0]

data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Type of ownership,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst,"New York, NY",Nonprofit Organization,Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech,"Chantilly, VA",Company - Public,Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group,"Boston, MA",Private Practice / Firm,Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON,"Newton, MA",Company - Public,Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,"New York, NY",Company - Private,Advertising & Marketing,Business Services

Good. In a similar way we will remove the state code from "Location" column.

In [10]:
data["Location"]=data["Location"].str.split(',').str[0]

data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Type of ownership,Industry,Sector
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,Healthfirst,New York,Nonprofit Organization,Insurance Carriers,Insurance
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech,Chantilly,Company - Public,Research & Development,Business Services
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group,Boston,Private Practice / Firm,Consulting,Business Services
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON,Newton,Company - Public,Electrical & Electronic Manufacturing,Manufacturing
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,New York,Company - Private,Advertising & Marketing,Business Services

We will be now spliting the "Salary Estimate" column into minimum and maximum estimated salary. For this, we will first remove the strings inside the brackets and then split the column and format the newly created collumns as int.

In [11]:
data["Salary Estimate"] = data['Salary Estimate'].str.replace('(Glassdoor est.)', '').str.replace('(Employer est.)', '')

In [12]:
data[["Min Salary($)","Max Salary($)"]]=data["Salary Estimate"].str.split("-",expand=True)

In [13]:
data["Min Salary($)"]=data["Min Salary($)"].str.replace('$',"").str.replace("K","000").astype(int)
data["Max Salary($)"]=data["Max Salary($)"].str.replace('$',"").str.replace("K","000").astype(int)

data.head()

,Job Title,Salary Estimate,Job Description,Company Name,Location,Type of ownership,Industry,Sector,Min Salary($),Max Salary($)
0,Sr Data Scientist,$137K-$171K,Description\n\nThe Senior Data Scientist is re...,Healthfirst,New York,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000
1,Data Scientist,$137K-$171K,"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech,Chantilly,Company - Public,Research & Development,Business Services,137000,171000
2,Data Scientist,$137K-$171K,Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group,Boston,Private Practice / Firm,Consulting,Business Services,137000,171000
3,Data Scientist,$137K-$171K,JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON,Newton,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000
4,Data Scientist,$137K-$171K,Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,New York,Company - Private,Advertising & Marketing,Business Services,137000,171000

We dont require the "Salary Estimate" column anymore, so, lets drop it.

In [14]:
data.drop(columns="Salary Estimate", inplace=True)

Lets create another column as "Average Salary" using "Min salary" and "Max Salary"

In [15]:
data["Average Salary"]=(data["Min Salary($)"]+data["Max Salary($)"])//2

We will now find out the minimum qualification mentioned in the "Job Description" and create a column "Min Qualification".

For this I have created a functions that uses regular expressions to search for keywords:- bachelors, b.s, masters, m.s, and phd.

In [16]:
def qualification(job_description:str):
    if re.search(r'\Bachelo\w+',job_description.lower()):
        return re.search(r'.\Bachelo\w+',job_description.lower()).group()
    elif re.search(r'\bb\.?s\b', job_description.lower()):
        return re.search(r'\bb\.?s\b', job_description.lower()).group()
    elif re.search(r'\bmaster\S?s',job_description.lower()):
        return re.search(r'\bmaster\S?s',job_description.lower()).group()
    elif re.search(r'\bm\.?s\b', job_description.lower()):
        return re.search(r'\bm\.?s\b', job_description.lower()).group()
    elif re.search(r'\bph\.?d\b',job_description.lower()):
        return "Phd"
    elif re.search(r'\badvanced\s+degree\b', job_description.lower()):
        return re.search(r'\badvanced\s+degree\b', job_description.lower()).group()
    
data["Min Qualification"]=data["Job Description"].apply(qualification)

data.head()

,Job Title,Job Description,Company Name,Location,Type of ownership,Industry,Sector,Min Salary($),Max Salary($),Average Salary,Min Qualification
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,Healthfirst,New York,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,154000,bachelor
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech,Chantilly,Company - Public,Research & Development,Business Services,137000,171000,154000,bachelor
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group,Boston,Private Practice / Firm,Consulting,Business Services,137000,171000,154000,Phd
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON,Newton,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,154000,bachelor
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,New York,Company - Private,Advertising & Marketing,Business Services,137000,171000,154000,advanced degree

Now lets check the different values in our newly created column.

In [17]:
data["Min Qualification"].value_counts()

Min Qualification
bachelor           202
bs                  66
bachelors           50
ms                  44
Phd                 39
masters             23
master’s            23
master's            16
b.s                 16
m.s                 11
advanced degree     10
bachelorrsquos       4
masterrs             1
bachelorâs           1
Name: count, dtype: int64

Although this looks like there are too many different qualifications but we can broadly clasify them as : Bachelors, Masters, and Phd

In [18]:
def cleaning(text):
    if re.search(r'\bb',text):
        return "Bachelors"
    elif re.search(r'\bP',text):
        return "Phd"
    else:
        return "Masters"
    
data['Min Qualification']=data[(data['Min Qualification'].isnull()!=True)]["Min Qualification"].apply(cleaning)

Now lets find out which programming languages are reqiured for the job. We will do this by creating boolean columns for Python, SQL, R, C,C++ and C#.

In [19]:
def py(txt):
    if re.search(r'\Bython\b',txt.lower()):
        return True

def R(txt):
    if re.search(r'\br\b',txt.lower()):
        return True

def SQL(txt):
    if re.search(r'\bsql\b',txt.lower()):
        return True
    
def Others(txt):
    if re.search(r'\bc[,+#]?\b',txt.lower()):
        return True

data["Python"]=data['Job Description'].apply(py)
data["R"]=data['Job Description'].apply(R)
data["SQL"]=data['Job Description'].apply(SQL)
data["C/C++/C#"]=data['Job Description'].apply(Others)

data.head()

,Job Title,Job Description,Company Name,Location,Type of ownership,Industry,Sector,Min Salary($),Max Salary($),Average Salary,Min Qualification,Python,R,SQL,C/C++/C#
0,Sr Data Scientist,Description\n\nThe Senior Data Scientist is re...,Healthfirst,New York,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,154000,Bachelors,None,None,None,None
1,Data Scientist,"Secure our Nation, Ignite your Future\n\nJoin ...",ManTech,Chantilly,Company - Public,Research & Development,Business Services,137000,171000,154000,Bachelors,None,None,True,None
2,Data Scientist,Overview\n\n\nAnalysis Group is one of the lar...,Analysis Group,Boston,Private Practice / Firm,Consulting,Business Services,137000,171000,154000,Phd,True,True,None,True
3,Data Scientist,JOB DESCRIPTION:\n\nDo you have a passion for ...,INFICON,Newton,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,154000,Bachelors,True,None,True,None
4,Data Scientist,Data Scientist\nAffinity Solutions / Marketing...,Affinity Solutions,New York,Company - Private,Advertising & Marketing,Business Services,137000,171000,154000,Masters,True,True,True,None

And now, since we have extracted everything we need for our analysis, we will drop the "Job description" which we dont require anymore.

In [20]:
data.drop(columns="Job Description",inplace=True)

Finally we are done with our cleaning. Lets, for the last time, view our dataset to check everything is in order.

In [21]:
data.head()

,Job Title,Company Name,Location,Type of ownership,Industry,Sector,Min Salary($),Max Salary($),Average Salary,Min Qualification,Python,R,SQL,C/C++/C#
0,Sr Data Scientist,Healthfirst,New York,Nonprofit Organization,Insurance Carriers,Insurance,137000,171000,154000,Bachelors,None,None,None,None
1,Data Scientist,ManTech,Chantilly,Company - Public,Research & Development,Business Services,137000,171000,154000,Bachelors,None,None,True,None
2,Data Scientist,Analysis Group,Boston,Private Practice / Firm,Consulting,Business Services,137000,171000,154000,Phd,True,True,None,True
3,Data Scientist,INFICON,Newton,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,137000,171000,154000,Bachelors,True,None,True,None
4,Data Scientist,Affinity Solutions,New York,Company - Private,Advertising & Marketing,Business Services,137000,171000,154000,Masters,True,True,True,None

Looks good.